# SQL Leetcode 

this notebook is intended to be used to practice SQL through individual questions, as well as gather notes on common topics, best practices, and any information that is new to me. studying SQL courses does not seem to be very effective for various reasons (slow, repetitive but information doesn't seem to stick, boring); trying this approach instead. will attempt to implement what is learned in projects further down the line. 

have not currently found a way to format this notebook nicely, so mostly only using markdown cells. doesn't look great but will do for now

## Easy Problems

### 175. Combine Two Tables

#### <u>description</u>

Table: Person

    +-------------+---------+
    | Column Name | Type    |
    +-------------+---------+
    | personId    | int     |
    | lastName    | varchar |
    | firstName   | varchar |
    +-------------+---------+

personId is the primary key (column with unique values) for this table.
This table contains information about the ID of some persons and their first and last names.

Table: Address

    +-------------+---------+
    | Column Name | Type    |
    +-------------+---------+
    | addressId   | int     |
    | personId    | int     |
    | city        | varchar |
    | state       | varchar |
    +-------------+---------+

addressId is the primary key (column with unique values) for this table.
Each row of this table contains information about the city and state of one person with ID = PersonId.

Write a solution to report the first name, last name, city, and state of each person in the Person table. If the address of a personId is not present in the Address table, report null instead.

Return the result table in any order.

#### <u>attempt</u>

want a left join

    SELECT person.firstName, person.LastName, address.city, address.state
    FROM Person person
    LEFT JOIN Address address ON person.personId = address.personId

#### <u>notes</u>

on joins: To combine two SQL tables based on a common ID, you typically use a JOIN operation. The most common types of joins are INNER JOIN, LEFT JOIN (or LEFT OUTER JOIN), RIGHT JOIN (or RIGHT OUTER JOIN), and FULL JOIN (or FULL OUTER JOIN). Here's a brief explanation of each:

1. INNER JOIN: Combines rows from both tables only when there is a match on the specified column (common ID). Rows without matching values in either table are excluded.

2. LEFT JOIN (LEFT OUTER JOIN): Combines all rows from the left table and the matched rows from the right table. If there is no match, NULL values are returned for columns from the right table.

3. RIGHT JOIN (RIGHT OUTER JOIN): Combines all rows from the right table and the matched rows from the left table. If there is no match, NULL values are returned for columns from the left table.

4. FULL JOIN (FULL OUTER JOIN): Combines rows when there is a match in one of the tables. Rows without matching values in either table will also be included, with NULL values for columns from the table that lacks a match.

Example of LEFT JOIN:

    SELECT a.id, a.column1, a.column2, b.column3, b.column4
    FROM table1 a
    LEFT JOIN table2 b ON a.id = b.id;
    
In this query:

* table1 and table2 are the tables you want to combine.
* a and b are aliases for table1 and table2, respectively.
* id is the common column in both tables.

Example of FULL JOIN:

Some databases like MySQL do not support FULL JOIN. You might need to use a combination of LEFT JOIN and RIGHT JOIN with a UNION in such cases. If you need to ensure compatibility across different SQL databases, you can use a UNION to simulate a FULL JOIN:

    SELECT a.id, a.column1, a.column2, b.column3, b.column4
    FROM table1 a
    LEFT JOIN table2 b ON a.id = b.id
    UNION
    SELECT a.id, a.column1, a.column2, b.column3, b.column4
    FROM table1 a
    RIGHT JOIN table2 b ON a.id = b.id;
   
**the above code on the FULL JOIN is from GPT and has not been tested... take with a grain of salt**

## Medium Problems

## Hard Problems