# SQL Leetcode 

this notebook is intended to be used to practice SQL (MySQL) through individual questions, as well as gather notes on common topics, best practices, and any information that is new to me. studying SQL courses does not seem to be very effective for various reasons (slow, repetitive but information doesn't seem to stick, boring); trying this approach instead. will attempt to implement what is learned in projects further down the line. 

have not currently found a way to format this notebook nicely, so mostly only using markdown cells. doesn't look great but will do for now

## Easy Problems

### 175. Combine Two Tables

#### <u>description</u>

Table: Person

    +-------------+---------+
    | Column Name | Type    |
    +-------------+---------+
    | personId    | int     |
    | lastName    | varchar |
    | firstName   | varchar |
    +-------------+---------+

personId is the primary key (column with unique values) for this table.
This table contains information about the ID of some persons and their first and last names.

Table: Address

    +-------------+---------+
    | Column Name | Type    |
    +-------------+---------+
    | addressId   | int     |
    | personId    | int     |
    | city        | varchar |
    | state       | varchar |
    +-------------+---------+

addressId is the primary key (column with unique values) for this table.
Each row of this table contains information about the city and state of one person with ID = PersonId.

Write a solution to report the first name, last name, city, and state of each person in the Person table. If the address of a personId is not present in the Address table, report null instead.

Return the result table in any order.

#### <u>attempts</u>

NOTE: need a left join

    SELECT person.firstName, person.LastName, address.city, address.state
    FROM Person person
    LEFT JOIN Address address ON person.personId = address.personId 
    
status = success

#### <u>solutions</u>

from someone on leetcode, haven't seen this before

    SELECT firstname, lastname, city, state FROM person
    LEFT JOIN address USING(personid)

#### <u>notes</u>

on joins: To combine two SQL tables based on a common ID, you typically use a JOIN operation. The most common types of joins are INNER JOIN, LEFT JOIN (or LEFT OUTER JOIN), RIGHT JOIN (or RIGHT OUTER JOIN), and FULL JOIN (or FULL OUTER JOIN). Here's a brief explanation of each:

1. INNER JOIN: Combines rows from both tables only when there is a match on the specified column (common ID). Rows without matching values in either table are excluded.

2. LEFT JOIN (LEFT OUTER JOIN): Combines all rows from the left table and the matched rows from the right table. If there is no match, NULL values are returned for columns from the right table.

3. RIGHT JOIN (RIGHT OUTER JOIN): Combines all rows from the right table and the matched rows from the left table. If there is no match, NULL values are returned for columns from the left table.

4. FULL JOIN (FULL OUTER JOIN): Combines rows when there is a match in one of the tables. Rows without matching values in either table will also be included, with NULL values for columns from the table that lacks a match.

Example of LEFT JOIN:

    SELECT a.id, a.column1, a.column2, b.column3, b.column4
    FROM table1 a
    LEFT JOIN table2 b ON a.id = b.id;
    
In this query:

* table1 and table2 are the tables you want to combine.
* a and b are aliases for table1 and table2, respectively.
* id is the common column in both tables.

Example of FULL JOIN:

Some databases like MySQL do not support FULL JOIN. You might need to use a combination of LEFT JOIN and RIGHT JOIN with a UNION in such cases. If you need to ensure compatibility across different SQL databases, you can use a UNION to simulate a FULL JOIN:

    SELECT a.id, a.column1, a.column2, b.column3, b.column4
    FROM table1 a
    LEFT JOIN table2 b ON a.id = b.id
    UNION
    SELECT a.id, a.column1, a.column2, b.column3, b.column4
    FROM table1 a
    RIGHT JOIN table2 b ON a.id = b.id;
   
**the above code on the FULL JOIN is from GPT and has not been tested... take with a grain of salt**

### 181. Employees Earning More Than Their Managers

#### <u>description</u>

Table: Employee

    +-------------+---------+
    | Column Name | Type    |
    +-------------+---------+
    | id          | int     |
    | name        | varchar |
    | salary      | int     |
    | managerId   | int     |
    +-------------+---------+

id is the primary key (column with unique values) for this table.
Each row of this table indicates the ID of an employee, their name, salary, and the ID of their manager.
 

Write a solution to find the employees who earn more than their managers.

Return the result table in any order

#### <u>attempts</u>

NOTE: aliases didn't seem necessary in problem 175, but this problem seems to highlight their importance

    SELECT 
        e1.name AS Employee
    FROM 
        Employee e1
    JOIN 
        Employee e2 ON e1.managerId = e2.id
    WHERE 
        e1.salary > e2.salary;
        
status = success

#### <u>solutions</u>

from leetcode, slightly different approach - no joins seem necessary

    SELECT e1.name AS Employee
    FROM Employee e1, Employee e2
    WHERE e1.managerId = e2.id AND e1.salary > e2.salary;

#### <u>notes</u>

explanation of the attempt: To solve this problem, you can use a self-join on the Employee table to compare each employee's salary with their manager's salary.

* Employee e1 is an alias for the employee table to represent the employees.
* Employee e2 is an alias for the employee table to represent the managers.
* The JOIN clause matches each employee (e1) with their manager (e2) by comparing e1.managerId with e2.id.
* The WHERE clause filters the results to include only those employees whose salary (e1.salary) is greater than their manager's salary (e2.salary).
* The SELECT clause returns the names of the employees who meet the condition.

This query will return the employees who earn more than their managers, as specified in the problem statement

### 182. Duplicate Emails

#### <u>description</u>

Table: Person

    +-------------+---------+
    | Column Name | Type    |
    +-------------+---------+
    | id          | int     |
    | email       | varchar |
    +-------------+---------+

id is the primary key (column with unique values) for this table.
Each row of this table contains an email. The emails will not contain uppercase letters.
 

Write a solution to report all the duplicate emails. Note that it's guaranteed that the email field is not NULL.

#### <u>attempts</u>

NOTE: haven't used the HAVING keyword before

    SELECT email FROM Person
    GROUP BY email
    HAVING COUNT(email) > 1
    
status = success

#### <u>solutions</u>

this seemed like another popular solution, but doesn't make a whole lot of sense to me...

    SELECT DISTINCT P1.Email FROM Person P1,Person P2 
    WHERE P1.id <> P2.id AND P1.Email=P2.Email
    
here's a breakdown:
1. FROM Person P1, Person P2:

    * This creates two references to the Person table, named P1 and P2. This technique is known as a self-join, where the table is joined with itself.

2. WHERE P1.id <> P2.id:

    * This condition ensures that the join is not comparing the same row with itself by checking that the id of P1 is different from the id of P2.

3. AND P1.Email = P2.Email:

    * This condition ensures that the email addresses in the two rows being compared are the same. This means we are finding pairs of rows where the email is the same but the IDs are different.

4. SELECT DISTINCT P1.Email:

    * SELECT DISTINCT is used to ensure that the result contains unique email addresses. Even if an email appears multiple times as a duplicate in different pairs, it will only be listed once in the result.

#### <u>notes</u>

difference between HAVING and WHERE: The HAVING and WHERE clauses in SQL are both used to filter data, but they are used in different contexts and for different purposes. Here are the key differences:

1. Usage Context:

    * WHERE Clause: The WHERE clause is used to filter rows before any grouping operations are performed. It is applied to individual rows in a table.
    * HAVING Clause: The HAVING clause is used to filter groups after the GROUP BY operation has been performed. It is applied to aggregated data.
    
2. Filtering Rows vs. Filtering Groups
     * WHERE Clause: Filters individual rows based on specified conditions. It cannot be used with aggregate functions (like COUNT, SUM, AVG, etc.) directly. But a WHERE clause can be used before a GROUP BY 
     * HAVING Clause: Filters groups of rows created by the GROUP BY clause based on aggregate function conditions.
     
3. Execution Order:

    * WHERE Clause: Applied early in the execution process, right after the FROM clause.
    * HAVING Clause: Applied later in the execution process, after the GROUP BY clause and any aggregate functions.
    
example

-- Using WHERE clause to filter rows

    SELECT product, amount
    FROM Sales
    WHERE amount > 100;

-- Using HAVING clause to filter groups

    SELECT region, SUM(amount) AS total_sales
    FROM Sales
    GROUP BY region
    HAVING total_sales > 500;

* The first query uses the WHERE clause to filter individual sales records where the amount is greater than 100.
* The second query uses the HAVING clause to filter regions where the total sales (SUM(amount)) exceed 500.

### 183. Customers Who Never Order

#### <u>descriptions</u>

Table: Customers

    +-------------+---------+
    | Column Name | Type    |
    +-------------+---------+
    | id          | int     |
    | name        | varchar |
    +-------------+---------+
    
id is the primary key (column with unique values) for this table.
Each row of this table indicates the ID and name of a customer.
 

Table: Orders

    +-------------+------+
    | Column Name | Type |
    +-------------+------+
    | id          | int  |
    | customerId  | int  |
    +-------------+------+
    
id is the primary key (column with unique values) for this table.
customerId is a foreign key (reference columns) of the ID from the Customers table.
Each row of this table indicates the ID of an order and the ID of the customer who ordered it.
 

Write a solution to find all customers who never order anything.

Return the result table in any order.

#### <u>attempts</u>

NOTE: did a right join initially but that didn't make sense because that causes me to lose the names, so have to do left join again

    SELECT name AS Customers
    FROM Customers table1
    LEFT JOIN Orders table2 ON table1.id = table2.customerId
    WHERE table2.id IS NULL
    
status = success

#### <u>solutions</u>

from someone on leetcode, more concise and even eaiser to read

    SELECT name as Customers FROM Customers
    WHERE id NOT IN (SELECT customerid FROM orders)

#### <u>notes</u>

no notes as this time - this problem is fairly straightforward

## Medium Problems

## Hard Problems